// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.twitter-typeahead{
    display: block !important;
}

.tt-header{
    padding: 6px 12px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-style: italic;
}

.tt-menu{
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 200px;
    overflow-y: scroll;
}

.tt-suggestion{
    padding: 6px 12px;
}

.noitems{
    padding: 6px 12px;
}

.btn-rmv-department:hover{
    cursor: pointer;
}

.btn-rmv-diagnosis:hover{
    cursor: pointer;
}